web-app-1/webappkey.pem
web-app-1/apuntes
*/.terraform
*/.terraform.lock.hcl
*/terraform.tfstate
*/terraform.tfstate.backup
web-app/gospy.tar.gz
*/webappkey.pem
*/*.pem
*/*/*.pem
.infracost
*/.infracost
ansible_infra/aws_init.sh
ansible_infra/ubuntu_init.sh
*/inventory
*/inventory.yaml
*/inventory.ini

modules/*/.terraform
modules/*/.terraform.lock.hcl
modules/*/terraform.tfstate
modules/*/terraform.tfstate.backup

backend_lambda/lambda/function.zip