{{define "uploadspage"}}
{{template "header"}}
<link rel="stylesheet" href="/recursos/public/css/formulario.css">

<!--Formulario-->
<main>            
    <form action="/uploads-form" method="POST" enctype="multipart/form-data"> <!--enctype="multipart/form-data" es para subir archivos-->
    <div class="form-group">
        <label for="foto">Foto: </label>
        <input type="file" name="foto" id="foto" class="form-control">
        <p>
            <input type="submit" value="Enviar">
            <input type="reset">
            </p>
    </div> 
    </form>
   
</main>
<div class="home-button">
    <a class="button" href="/">Home</a>
    <a class="button" href="/formulario">Formulario</a>
  </div>

  {{template "flash" .}}
{{template "footer"}}
{{end}}



